/* Mohibullah Sarfiraz*/
tr,td,th{
    border: 1px solid black;
}
th{
    color: crimson;
}
#valuePy,#valuePx{
    color: darkred;
}

body{
    background-image: url("images/zadanie4Background.jpg");
}


.modal{
    z-index: 1;
    display: none;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5);
    padding: 20%;
}
#tableCon{
    margin: 10% 0;
    background-color: wheat;
    border-radius: 1rem;
    box-shadow: -4px -4px 10px 4px lightgrey, 4px 4px 10px 4px lightgrey;
}
.close{
    color: black;
    float: right;
    font-weight: bold;
    font-size: 2rem;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 780px){
    .modal{
        padding: 2%;
    }

}